<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <div *ngFor="let p of appPages">
            <ion-item button *ngIf="p.subPages?.length>0" detail="false" (click)="p.button=!p.button">
              <ion-icon *ngIf="!p.button" slot="end" name="arrow-round-forward"></ion-icon>
              <ion-icon  id="colorIcon" *ngIf="p.button" slot="end" name="arrow-round-down"></ion-icon>
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
            <ion-list *ngIf="p.button">
              <ion-menu-toggle auto-hide="false" *ngFor="let s of p.subPages">
                <ion-item [routerDirection]="'root'" 
                [routerLink]="[s.url]" 
                routerLinkActive="actived"
                [class.actived-sub]="p.button">
                  <ion-label>{{s.title}}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
