/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-toolbar{
   --background:var(--ion-color-light-contrast);
   --color:var(--ion-color-dark-contrast);
   ion-menu-button{
       --color:var(--ion-color-success);
       margin-left: 4px;
       margin-right: 8px; 
   }
   ion-title{
   text-overflow: ellipsis;
   white-space: nowrap;
   pointer-events: auto;
   overflow: hidden;
   }
   ion-icon{
       font-size: 64px;
   }
   ion-menu-button{
       button{
           font-size: 64px;
       }
   }

}
.active{
   --ion-text-color:var(--ion-color-success);
}

.active-parent{
   font-weight: 500;
}

.sub-item{
   padding-left: 20px;
}

.class1{
   --ion-color-primary:var(--ion-color-success);
   padding: 24px;

   ion-item{
      margin-bottom: 24px;
      --padding-start:0;
      caret-color:#10dc60 ;
   }

   ion-radio{
      margin-right: 8px;
   }
}

.classButtons{
   padding-left: 12px;
   padding-right: 12px;
   margin-left: 0;
   margin-right: 0;
   justify-content: center;
   align-items: center;
   display: flex;

   ion-button{
       margin-left: 0px;
       --background:var(--ion-color-light-contrast);
       --color:var(--ion-color-dark-contrast);
       height: 40px;
       width: 140px;
      --border-radius:5px;
   }

   ion-button:first-of-type {
      margin-right: 20px;
  }
}
.button-solid{
   --background-activated:#81C784;
   --box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
}

ion-card{
   height:97%;

}

ion-button{
   text-transform: capitalize;
}

.item-has-focus ion-label {
   color: #10dc60 !important;
}